@themeBackground: rgb(34, 34, 34);
div.ratio-wrap-75-16 {
    width: 100%;
    padding-bottom: 21.33%;
    position: relative;
}
html {
    position: relative;
    min-height: 100%;
}
body {
div#app-root {
    div#wrapper {
        position: relative;
        height: 100vh;
        background-color: @themeBackground;
    }
}
}
div.mouse-tracker { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
canvas.color-amoeba { width: 100%; height: 100%; }
